.service-section {
  width: 100%;
  height: 273px;
  padding: 60px 20px;
  background: #ffffff;
}

.service-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.service-card {
  flex: 1;
  text-align: center;
}

.service-icon {
  width: 64px;
  height: 64px;
  background: #0156ff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 20px;
}

.service-icon i {
  color: #fff;
  font-size: 28px;
}

.service-card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 12px;
}

.service-card p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  max-width: 260px;
  margin: auto;
  font-weight: 400;
}

/* Tablet */

@media (max-width: 992px) {
  .service-container {
    gap: 20px;
  }

  .service-card h3 {
    font-size: 16px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
    gap: 40px;
  }

  .service-card {
    max-width: 320px;
  }
}