@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.product-card {
  width: 234px;
  height: 370px;
  background-color: #FFFFFF;
  padding: 10px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Ensure everything is Left-aligned */
  gap: 5px;
  font-family: 'Poppins', sans-serif;
  text-align: left; /* Left alignment forced */
}

.product-card:hover{
      transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}
/* Image Container */
.product-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.stock-status{
    display:flex;
    align-items:center;
    gap:6px;
    margin-bottom:12px;
    font-size:13px;
    color:#555;
}

.stock-success{
    color:#28a745;
    font-size:16px;
}

.stock-danger{
    color:#dc3545;
    font-size:16px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/* Rating Section */
.product-rating {
  width: 152.31px;
  height: 14px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.stars {
  color: #E9A426;
  font-size: 13px;
  line-height: 1;
}

.reviews-count {
  font-size: 12px;
  color: #A2A6B0;
  margin-left: 4px;
  line-height: 1;
}

/* Title Section */
.product-title {
  width: 185px;
  height: 65px;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
  text-align: left;
}



/* Price Box */
.product-price-container {
  width: 183.85px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Left aligned price */
}

.old-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
  color: #666666;
  text-decoration: line-through;
  display: block;
}

.current-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0px;
  color: #000000;
  display: block;
}

